:root{
    /*maybe*/
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(180deg, #6AA7AA 0%, #B2F3F7 49.48%, #D0FCFF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    
}

.grid{
    display: grid;
    align-items: center;
    justify-items: center;
}
.flex{
    display: flex;
}
/*text*/
h1, h2, h3, h4, a{
    font-family: 'Montserrat', sans-serif;
}
h1, h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
p, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;

}
ul{
    margin-bottom: 20px;
}
li{
    margin:8px 2px
}
.bold{
    font-weight: 600;
}
.link{
    margin-top: 10px;
    font-size: 1.5rem;
}
.link p{
    margin: 2px;
}
.link a{
    text-decoration: underline;
    color: black;
}
a:hover{
    text-decoration: none;
}
/*buttons and relevant*/
a.button{
    background-color: #6AA7AA;
    color: black;
    text-decoration: none;
    padding:10px 20px;
    border-radius: 2px;
    font-weight: 600;
}
a.button:hover{
    text-decoration: underline;
    cursor: pointer;
}
/**********************************header********************************************/
header, footer{
    background-color: #F7CEB2;
    margin: 0px;
    padding: 0px 20px;
    height: 120px;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
    
    
}
.logo{
    grid-column: 3/4;
    background-color: #AB7A59;
    transform: rotate(45deg);
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    transform: rotate(-45deg);
    margin:0px;
    color: white;
    font-size: 1.5rem;

}
.navOne{
    grid-column: 5/6;
}
.navTwo{
    grid-column: 6/7;
}
header a{
    text-decoration: none;
    color:#000;
    font-size: 1.3rem;
    margin: 18px;
    
}
/******************************************************************************/

main{
    row-gap: 220px;
    padding-bottom: 100px;
}
/**********************************index content********************************************/
section#info{
    row-gap: 80px;
    margin-top: 50px;
}
#info img{
    max-width: 20%;
    border-radius: 100%;
}
section#info div{
    column-gap: 30px;
}
section#projects h2{
    margin-bottom: 100px;
}
div#myProjects{
    row-gap: 200px;
}
/********************programs*********************/
section#knowledge{
    text-align: center;
}
div#programs{
    grid-template-areas: "topleft . topright"
    "botleft . botright";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 80px 20px;
    margin-top: 50px;
}
div#programs img{
    width: 150px;
    height: 150px;
}
div#html{
    grid-area: topleft;
}
div#css{
    grid-area: topright;
}
div#javascript{
    grid-area: botleft;
}
div#figma{
    grid-area: botright;
}



main#index article{
    grid-template-areas:
    "image name name"
    "image excerpt excerpt"
    "image button button";
    column-gap: 50px;
    grid-template-rows: 30px auto auto;
}
main#index article img{
    grid-area: image;
}
main#index article h3{
    grid-area: name;
    margin: 0px 10px;
}
main#index article p{
    grid-area: excerpt;
    width: 300px;
    margin-bottom: 10px;
}
main#index article a{
    grid-area: button;
}
footer{
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.email{
    grid-column: 1/2;
}
footer .button{
    grid-column: 2/3;
}
.linkedIn{
    grid-column: 3/4;
}
.created{
grid-column: 2/3;
grid-row: 2/3;
}
/*about specific page */
main#project{
    row-gap: 100px;
}
section#topText p{
    max-width: 65%;
    text-align: center;
}
#about p{
    max-width: 430px;
    
}

#about ul{
    
    width: 100%;
    margin-top: 0px;
}
.listInfo{
    width: 100%;
    margin-bottom: 0px;
}

section#finalProduct{
}
section#finalProduct p{
    max-width: 400px;
}
.product{
    grid-template-columns: 1fr  1fr;
    height: 100vh;
    column-gap: 50px;
}
.product h4{
    grid-column: 1/3;
    font-size: 1.8rem;
}
.product p{
    font-size: 1.5rem;
    line-height: 50px;
}
.look{
    row-gap: 50px;
}
.mobile img{
    max-width: 20vw;
    border: solid 10px black;
    border-radius: 20px;
}
.tablet img{
    max-width: 30vw;
    border: solid 20px black;
    border-radius: 20px;
}

.pc img{
    grid-column: 2/3;
    max-width: 40vw;
    border: solid 10px black;
    border-radius: 5px;
}
section#learned{
        justify-items: start;
        margin: 0 auto;
}
section#learned h3, section#learned h2{
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width:1300px){
    header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .navOne{
        grid-column: 4/5;
    }
    .navTwo{
        grid-column: 5/6;
    }
    .logo{
        grid-column: 3/4;
    }
 
  
}

@media only screen and (max-width:1000px){
    header{
        grid-template-columns: 1fr 1fr 1fr;

    }
    .navOne{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .logo{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .navTwo{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    section#topText p{
        max-width: none;
    }
    main#index article{
        grid-template-areas: "name name name"
        "image excerpt excerpt"
        "image button button";
    }
    section#finalProduct .product p{
        max-width: 50vw;
        line-height: normal;
    }
    
    .product{
        height: auto;
        grid-template-rows: auto auto auto;
        grid-template-columns: 90vw;
        column-gap: 0px;
        margin-bottom: 10vh;
    }
    .product img{
        max-height: 50vh;
        max-width: none;
    }
    .product h4, .prooduct p, .product img{
        grid-column: 1/2;
    }
    article#programs, section#learned{
        justify-items: start;
        margin: 0 auto;
        width: 80%;
    }
    article#programs h3{
        margin: 0 auto;
    }

}

/*mobile devices*/
@media only screen and (max-width:600px){
    header{
        padding: 0px;
    }   
    header a{
        margin: 10px;
    }
    .navOne, .navTwo{
        font-size: 1.1rem;
    }
    h1{
        max-width: 90%;
        text-align: center;
    }
    section#topText{
        row-gap: 40px;
    }
   
    section#info{
        row-gap: 20px;
    }
    section#info img{
        max-width: 50%;
    }
    main#index{
        row-gap: 150px;
    }
    main#index article{
        grid-template-areas: "name"
        "image"
        "excerpt"
        "button";
        grid-template-columns: 1fr;
        
        
    }
    main#index article h3{
        text-align: center;
    }
    section#info > div{
        width: 40%;
        text-align: center;
        flex-direction: column;
        row-gap: 25px;
    }
    div#programs{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "topleft topright"
        "botleft botright";
    }
    div#programs > div > img{
        max-width: 100px;
        max-height: 100px;
    }
    section#projects h2{
        margin-bottom: 20px;
    }
    div#myProjects{
        row-gap: 100px;
    }
    main#index div#myProjects p{
        width: auto;
        max-width: 75%;
    }


/*project page*/
    section#topText p{
    max-width: 80%;
    }
    #about p, section#finalProduct p{
        max-width: 80%;
        margin: 0 auto;
    }
    ul{
        max-width: 80%;
    }
    main#project{
        row-gap: 60px;
    }
    section#finalProduct .product p{
        max-width: 90%;
        font-size: 1.3rem;
    }
    .product{
        
        row-gap: 20px;
    }
    .product h4{
        text-align: center;
    }
    .product img{
        max-width: 80vw;
    }
    section#learned ul:first-of-type{
        margin-bottom: 100px;
    }
}

/**********************making the header fit even the smalles mobile***********************************/
@media only screen and (max-width:370px){
    header{
        grid-template-columns: 1fr 0.5fr 1fr;
    }
    .logo{
        width: 60px;
        height: 60px;
    }
    .logo p{
        font-size: 1.2rem;
    }
    .navOne, .navTwo{
        margin: 0 auto;
    }
    /*link smaller*/

    div.link a{
        font-size: 1.2rem;
    }
}